/* Styling the Body element i.e. Color,
Font, Alignment */
body {
    background-color: #F4E07F;
    font-family: Verdana;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #0633AA;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

h1 {
    color: black;
}

p {
    color: black;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #F4E07F;
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.2em;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 50px;
    margin-bottom: 20px;
}